<div class="meet-up-block">
  <div class="meet-up-block__main-content">
    <div class="meet-up-block__main-content__poping-text">
      <h2 class="meet-up-block__main-content__poping-text__text-shadows">hey</h2>
    </div>
    <h1 class="meet-up-block__main-content__greeting">Hello dear guest! Nice to meet you!</h1>
    <div class="meet-up-block__main-content__scroll-down-arrow">
      <p>Scroll down to get to know me</p>
      <div class="meet-up-block__main-content__scroll-down-arrow__arrow"></div>
    </div>
  </div>
</div>
