<div class="meet-up-block">
  <div class="meet-up-block__main-content">
    <div class="meet-up-block__main-content__poping-text">
      <h2 class="meet-up-block__main-content__poping-text__text-shadows">hey</h2>
    </div>
    <h1 class="meet-up-block__main-content__greeting">Hello dear guest! Nice to meet you!</h1>
    <div class="meet-up-block__main-content__scroll-down-arrow">
      <p>Scroll down to get to know me</p>
      <div class="meet-up-block__main-content__scroll-down-arrow__arrow"></div>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="section">
  <div class="revealUp">
    <div class="short-about-me-block">
      <div class="short-about-me-block__image">
        <img class="short-about-me-block__image__photo" alt="my-photo" src='../assets/backgrounds/IMG_3795-modified.png'>
      </div>
      <div class="short-about-me-block__description-of-myself">
        <p><strong>About my self</strong></p>
        <div style="text-align: left;">
          <p>&#x2713; Aim in knowing the details</p>
          <p>&#x2713; Pedantic and responsible for tasks assigned to me</p>
          <p>&#x2713; The desire to create what I would like to be proud of</p>
          <p>&#x2713; Respect the job that has been done by a mate</p>
          <p>&#x2713; Can easily find a way to communicate with other people</p>
          <p>&#x2713; Try to offer a few propositions on how to resolve a problem</p>
          <p>&#x2713; 'Cold' and critical think</p>
          <p>&#x2713; Like to learn new approaches, technologies, and methods of problem resolving</p>
        </div>
      </div>
      <div class="short-about-me-block__name-and-email-contact">
        <p>&#x2192; My name is: Yurii Husak</p>
        <p>&#x2192; I'm a frontend developer</p>
        <p>&#x2192; If you have any questions or proposals - feel free to click on the button below</p>
        <portfolio-fancy-button>✉ here</portfolio-fancy-button>
      </div>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="section bg2">
  <h1 class="revealUp">Animation 2</h1>
</div>

<div class="parallax"></div>
