<portfolio-language-switcher></portfolio-language-switcher>

<portfolio-meet-up-block></portfolio-meet-up-block>

<div class="parallax"></div>

<div class="section">
  <div class="revealUp">
    <div class="short-about-me-block">
      <div class="short-about-me-block__image">
        <img class="short-about-me-block__image__photo" alt="my-photo" src='../assets/backgrounds/my-photo-rounded.png'>
      </div>
      <div class="short-about-me-block__description-of-myself">
        <p><strong>{{ 'about-my-self.title' | translate }}</strong></p>
        <div style="text-align: left;">
          <p>&#x2713; {{ 'about-my-self.aim-details' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.pedantic' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.desire' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.respect' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.easily-communicate' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.resolve-problem' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.cold-critical' | translate }}</p>
          <p>&#x2713; {{ 'about-my-self.like-learn' | translate }}</p>
        </div>
      </div>
      <div class="short-about-me-block__name-and-email-contact">
        <p class="short-about-me-block__name-and-email-contact__linked-in-link">&#x2192; {{ 'about-my-self.my-name-is' | translate }}: <a class="from-left-bottom-border-animation" [href]="LINKED_IN_LINK" target="_blank">{{ 'my-name' | translate }}</a></p>
        <p>&#x2192; {{ 'about-my-self.i-frontend-developer' | translate }}</p>
        <p>&#x2192; {{ 'about-my-self.have-questions-or-proposals' | translate }}</p>
        <portfolio-fancy-button>✉ {{ 'mail-me' | translate }}</portfolio-fancy-button>
      </div>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="section bg2">
  <h1 class="revealUp">Animation 2</h1>
</div>

<div class="parallax"></div>

