@import '../assets/styles/variables.scss';

.parallax {
  background-image: url('../assets/backgrounds/hexagon-background.svg');
  height: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-device-width: $big-screen-width) {
  .parallax {
    background-attachment: scroll;
  }
}

@media only screen and (max-device-width: $medium-screen-width) {
  .parallax {
    height: 50%;
  }
}

@media only screen and (max-device-width: $small-screen-width) {
  .parallax {
    height: 40%;
  }
}
