$first-color: #1c0c5b;
$second-color: #3d2c8d;
$third-color: #916bbf;
$fourth-color: #c996cc;

$default-text-color: #fff;
$default-dark-text-color: #000;

$big-screen-width: 1365px;
$medium-screen-width: 860px;
$small-screen-width: 650px;
